<h1>Address Book</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Owner</th>
      <th scope="col">Name</th>
      <th scope="col">Phone Number</th>
      <th scope="col">Other Notes</th>
      <th scope="col">Label</th>
      <th scope="col">House/Unit/Flr #, Bldg Name, Blk or Lot #</th>
      <th scope="col">Default Address?</th>
      <th>action</th>
    </tr>
  </thead>

  <tbody>
  <% @addresses.each do |address| %>
    <tr>
      <td><%= address.user.username %></td>
      <td><%= address.name %></td>
      <td><%= address.phone_number %></td>
      <td><%= address.remark %></td>
      <td><%= address.genre.upcase %></td>
      <td><%= address.street_address %></td>

      <% if address.is_default?  %>
        <td>Default</td>
      <% else %>
        <td></td>
      <% end %>

      <td>
        <%= link_to 'Edit', edit_users_address_path(current_user, address), :class => 'btn btn-primary' if address.user == current_user %>
        <%= link_to 'Show', users_address_path(current_user, address), :class => 'btn btn-primary' if address.user == current_user %>
        <%= button_to 'Delete', users_address_path(current_user, address), :class => 'btn btn-primary', method: :delete  if address.user == current_user %>
      </td>
      <% end %>
    </tr>
  </tbody>
</table>

<%= link_to '+ Add New Address', new_users_address_path(current_user), :class => 'btn btn-success' %>