<div>
<%= image_tag @user.avatar.url %>
</div>

<h1><%= @user.username %></h1>
<h1><%= @user.email %></h1>
<h1><%= @user.phone %></h1>

<%= link_to 'Edit Profile', edit_user_registration_path, :class => 'btn btn-primary' if @user == current_user %>