<% if @user.present? %>

<div>
<%= image_tag @user.avatar.url %>
</div>

<h1><%= @user.username %></h1>
<h1><%= @user.email %></h1>
<h1><%= @user.phone %></h1>

<%= link_to 'Edit Profile', edit_user_registration_path, :class => 'btn btn-primary' if @user == current_user %>

<% else %>

<h1 class="display-1 text-muted">USER DOES NOT EXIST!</h1>

<% end %>